*.pyc
*.sublime-project
*.sublime-workspace
db.sqlite3
static/media/*
*.pyc
shopcoffee/__pycache__/settings.cpython-37.pyc
shopcoffee/__pycache__/urls.cpython-37.pyc
shopcoffee/__pycache__/settings.cpython-37.pyc
*.sqlite3
db.sqlite3
