<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="static/css/home.css">
	<link rel="stylesheet" href="static/css/modal.css">
	{% load staticfiles %}
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<title>SHOP COFFEE</title>
</head>
<body class="text-center">
	<div id="app">
		<div class="top-line-menu">
			<div class="top-line-menu-content">
				<div class="top-line-menu-logo float-left">
					SHOP COFFEE
				</div>
				<div class="top-line-menu-card float-right">
					<cart-modal v-if=is_show_cart v-on:close="is_show_cart=false" v-bind:products=cart_list v-on:remove="removeFromCart($event)"  v-on:set="setToCart.apply(null, $event)" v-on:openorder="is_show_order=true;is_show_cart=false">
					</cart-modal>
					<a v-on:click="is_show_cart = true" class="cart-quantity">
						CART ( <counter v-bind:number=cout_products_in_cart></counter> )
					</a>
				</div>
			</div>
		</div>

		<div class="content text-center">
			<div class="container-fluid">
				<list-products v-on:addtocart="addToCart.apply(null, $event)">
				</list-products>
			</div>
		</div>

		<modal-order v-if="is_show_order" v-on:close="is_show_order=false" v-bind:products=cart_list v-on:remove="removeFromCart($event)"  v-on:set="setToCart.apply(null, $event)" v-on:back-to-cart="is_show_order=false;is_show_cart=true;">
		</modal-order>
	</div>

	<div class="bottom-line">
		<div class="d-inline">
			<div class="bottom-line-copyright">
				COPYRIGHT 2018
			</div>
		</div>
	</div>
</body>

	<script type="text/x-template" id="modal-order-template">
		<transition name="modal" id="modal-order-template">
			<div class="modal">
				<div class="modal__inner">
					<span class="close" v-on:click="$emit('close')">×</span>
					<div class="container-fluid container-modal">
						<div class="row">
							<div v-if="!confirm_checkout" style="width: 100%;">
								<div class="text-center col-12">
									<h3>CHECKOUT</h3>
								</div>
								<div class="modal-cart-input-block">
									<div class="col-12">
										<div class="row">
											<div class="col-12 col-sm-6 input-block">
												<div class="error-text">
													<label for="first-name">First Name</label>
													<span v-if="'first_name' in errors">[[ errors.first_name[0] ]]</span>
												</div>
												<input type="text" id="first-name" v-model="fields.first_name"></input>
											</div>
											<div class="col-12 col-sm-6 input-block">
												<div class="error-text">
													<label for="last-name" >Last Name</label>
													<span v-if="'last_name' in errors">[[ errors.last_name[0] ]]</span>
												</div>
												<input type="text" id="last-name" v-model="fields.last_name"></input>
											</div>
										</div>
									</div>
									<div class="col-12">
										<div class="row">
											<div class="col-12 col-sm-6 input-block">
												<div class="error-text">
													<label for="phone-number">Phone number</label>
													<span v-if="'phone_client' in errors">[[ errors.phone_client[0] ]]</span>
												</div>
												<input type="text" id="phone-number" v-model="fields.phone_client"></input>
											</div>
											<div class="col-12 col-sm-6 input-block">
												<div class="error-text">
													<label for="address">Address</label>
													<span v-if="'adress_client' in errors">[[ errors.adress_client[0] ]]</span>
												</div>
												<input type="text" id="address" v-model="fields.adress_client"></input>
											</div>
										</div>
									</div>
									<div class="col-12">
										<div class="row">
											<div class="col-12 input-block">
												<div class="error-text">
													<label for="comment">Comment</label>
													<span v-if="'comment' in errors">[[ errors.comment[0] ]]</span>
												</div>
												<textarea id="comment" v-model="fields.comment">
												</textarea>
											</div>
										</div>
									</div>
									<div class="col-12 text-center">
										<button class="checkout-btn" v-on:click="$emit('back-to-cart')"> BACK TO CART </button>
										<button class="checkout-btn" v-on:click="confirmCheckout()"> CONFIRM CHECKOUT </button>
									</div>
								</div>
							</div>
							<div v-else class="text-center order-complite-block">
								<h3 class="order-complite">
									Thank you for your order!
								</h3>
								<div class="text-center">
									<p class="order-complite-text">
										This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
									</p>
								</div>
								<button v-on:click="$emit('close')" class="checkout-btn">
									back to main page
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</transition>
	</script>

	<script type="text/x-template" id="modal-template">
		<transition name="modal" id="modal-template">
			<div class="modal">
				<div class="modal__inner">
					<span class="close" v-on:click="$emit('close')">×</span>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6">
								<div class="block-img-popup" v-bind:style="{ backgroundImage: 'url(' + [[ product.photo ]] + ')' }">
								</div>
							</div>
							<div class="col-md-6">
								<h1> [[ product.name ]] </h1>
								<div class="modal-price"> $[[ product.price ]] </div>
								<p> [[ product.description ]] </p>
								<div>
									<input v-model.number="quantity" type="number" max="20" min="1" placeholder="QUANTITY" class="input-quantuty">
									<button v-on:click="$emit('addtocart', [product, quantity])">
										ADD TO CART
									</botton>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</transition>
	</script>

	<script type="text/x-template" id="cart-modal-template">
		<transition name="modal">
			<div class="modal">
				<transition name="slide-fade">
					<div class="modal-cart-content" v-if=show>
						<span class="close-cart" v-on:click="$emit('close')">×</span>
						<h2 class="heading-cart">CART</h2>

						<div v-for="item in products" v-bind:key="item" class="item-cart">
							<div v-bind:style="{ backgroundImage: 'url(' + [[ item.product.photo ]] + ')' }" class="cart-item-img"></div>
							<div class="cart-item-info">
								<div class="cart-item-info-name">
									<div class="cart-item-info-name_">[[ item.product.name ]]</div>
									<div><span class="revove-item" v-on:click="$emit('remove', item.product)">×</span></div>
								</div>
								<div class="cart-item-info-quantity">
									<p>Price: $[[ item.product.price ]] </p>
								</div>
								<div class="cart-item-info-price">
									<div>
										<p>
											$<counter v-bind:number="item.product.price * item.quantity"></counter>
										</p>
									</div>
									<div class="text-right">
											<span><button class="btn-set-quantity" v-on:click="$emit('set', [item.product, item.quantity - 1])"><span>_</span></button></span>
											<span class="cart-item-input-quantuty">
												[[item.quantity]]
											</span>
											<span><button class="btn-set-quantity" v-on:click="$emit('set', [item.product, item.quantity + 1])">+</button></span>
									</div>
								</div>
							</div>
						</div>

						<div class="cart-total-cost-block">
							<span class="">TOTAL PRICE</span>
							<span class="float-right">$<counter v-bind:number=totalCost></counter></span>
						</div>
						<div class="text-center">
							<button class="btn-checkout" v-on:click="$emit('openorder')" :disabled="products.length == 0">
								CHECKOUT
							</button>
						</div>
					</div>
				</transition>
			</div>
		</transition>
	</script>
	<script type="text/x-template" id="list-products">
		<transition id="list-products">
			<div>
				<modal v-if="is_show_detail" @close="is_show_detail = false" v-bind:product=detail_product v-on:addtocart="$emit('addtocart', $event)">
				</modal>

				<transition-group name="list" tag="div" class="row">
					<div v-for="product in products" class="col-sm-6 col-md-4 list-item" v-bind:key="product">
						<img :src="[[ product.photo ]]" class="img-fluid img-item-product" alt="..." v-on:click="displayDetail(product)">
						<div>
							<div class="product-name">
								[[ product.name ]]
							</div>
							<div class="product-price">
								$[[ product.price ]]
							</div>

						</div>
						<button v-if="true" class="add-to-card-block btn-checkout" v-on:click="$emit('addtocart', [product, 1])">
							ADD TO CART
						</botton>
					</div>
				</transition-group>
				<div>
					<button class="still btn-checkout" v-on:click="loadProducts" v-if="next_page !== null">
						MORE
					</button>
				</div>
			</div>
		</transition>
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
	<script src="static/js/get_cookie.js"></script>
	<script src="static/js/home.js"></script>
</html>
